.line{
  position: absolute;
  top:0;
  left:0;
  z-index:10;
  animation:line 2s linear infinite;
  -webkit-animation:line 2s linear infinite;
  animation-direction:alternate;
  -webkit-animation-direction:alternate;
}
@keyframes line{
  0% {
    left:-60px;
  }
  100% {
    left:0px;
  }
}
b.text-bold {
  font-size:48px;
  padding:0 10px;
}
/* .line1{
  position: absolute;
  top:0;
  left:0;
  z-index:10;
  opacity: 1;
}
.line2{
  position: absolute;
  top:0;
  left:0;
  z-index:10;
  opacity: 0;
} */
.text{
  position: absolute;
  right:20px;
  /* bottom:500px; */
  color: #fff;
  z-index:1;
  line-height: 50px;
}
.black-text{
  color: #000;
}
.text p{
  font-size:32px;
}
.text p span{
  font-size:48px;
  font-weight: bold;
}