.line{
  position: absolute;
  top:0;
  left:0;
  z-index:10;
  animation:line 2s linear infinite;
  -webkit-animation:line 2s linear infinite;
  animation-direction:alternate;
  -webkit-animation-direction:alternate;
}
@keyframes line{
  0% {
    left:-60px;
  }
  100% {
    left:0px;
  }
}
/* .line1{
  position: absolute;
  top:0;
  left:0;
  z-index:10;
  opacity: 1;
}
.line2{
  position: absolute;
  top:0;
  left:0;
  z-index:10;
  opacity: 0;
} */
