
body {
  width:100%;
  /* overflow-x: hidden; */
  height: 100%;
  overflow: hidden;
}
body.scroll {
  height: auto;
  overflow: visible;
}
.wrap { 
  min-height:100%;
  background-color:#ffeec2;
  overflow: hidden;
}
.progress-mask {
  position: fixed;
  z-index:10000;
  top:0;
  bottom:0;
  left:0;
  right:0;
  color:#fff;
  font-size:60px;
  background-color:rgba(0,0,0,.3)
}
.progress-mask .num {
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
img {
  display: block;
}
.p1 {
  width:100%;
  height:100vh;
  min-height: 100%;
  position: relative;
  
}
.p1-scroll {
  width:100%;
  height: 100vh;
  overflow: hidden;
  transform: translateY(0);
  background:url(https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/p1-bg1.jpg) 0 0 no-repeat;
  position: relative;
  /* z-index:10; */
}
.p1 .rain {
  /* display: none; */
  left:-1736px;
  top:-1090px;
  opacity: 0;
  position: absolute;
  /* transform:rotate(-10deg); */
  animation:rain 3s linear infinite;
  -webkit-animation:rain 3s linear infinite;
}

 .p1 .rain1 {
   /* display: none; */
  left:-1736px;
  top:-1090px;
  opacity: 0;
  position: absolute;
  animation:rain 3s linear .5s infinite;
  -webkit-animation:rain 3s linear .5s  infinite;
}
 .p1 .rain2 {
   /* display: none; */
  left:-1736px;
  top:-1090px;
  opacity: 0;
  position: absolute;
  animation:rain 3s linear 1s infinite;
  -webkit-animation:rain 3s linear 1s  infinite;
}
 .p1 .rain3 {
   /* display: none; */
  left:-1736px;
  top:-1090px;
  opacity: 0;
  position: absolute;
  animation:rain 3s linear 1.5s infinite;
  -webkit-animation:rain 3s linear 1.5s  infinite;
}
.p1 .rain4 {
  /* display: none; */
 left:-1736px;
 top:-1090px;
 opacity: 0;
 position: absolute;
 animation:rain 3s linear 2s infinite;
 -webkit-animation:rain 3s linear 2s  infinite;
}
@keyframes rain{
  0% {
    opacity: 1;
    left:-1736px;
    top:-1090px;
  }
  
  100% {
    top:1200px;
    left:750px;
  }
}

 .p1 .snow {
  opacity: 0;
  left:0px;
  top:0;
  position: absolute;
  animation:rain 5s linear  infinite;
  -webkit-animation:rain 5s linear   infinite;
}
 .p1 .snow1 {
  opacity: 0;
  left:0px;
  top:0;
  position: absolute;
  animation:rain 5s linear 1s infinite;
  -webkit-animation:rain 5s linear 1s infinite;
}
 .p1 .snow2 {
  opacity: 0;
  left:0px;
  top:0;
  position: absolute;
  animation:rain 5s linear 2s infinite;
  -webkit-animation:rain 5s linear 2s infinite;
}
.p1 .snow3 {
  opacity: 0;
  left:0px;
  top:0;
  position: absolute;
  animation:rain 5s linear 3s infinite;
  -webkit-animation:rain 5s linear 3s infinite;
}
.p1 .bird {
  width:300px;
  height:200px;
  right:-400px;
  top:-100px;
  position: absolute;
}
.p1 .bird-1 {
  position: absolute;
  top:0;
  right:0;
  opacity: 0;
}
.p1 .bird-2 {
  position: absolute;
  top:150px;
  right:200px;
  opacity: 0;
}
.p1 .bird-3 {
  position: absolute;
  top:260px;
  right:330px;
  opacity: 0;
}
.p1 .bird-4 {
  position: absolute;
  top:460px;
  right:466px;
  opacity: 0;
}
.p1 .bird-5 {
  position: absolute;
  top:770px;
  right:490px;
  opacity: 0;
}
.p1 .bird-6 {
  position: absolute;
  top:1030px;
  right:290px;
  opacity: 0;
}
.begin2020 {
  position: absolute;
  width:450px;
  top:50%;
  left:50%;
  font-size:36px;
  color:#fff;
  z-index:100;
  transform: translate(-50%, -50%);
}
.begin2020 > div {
  opacity: 0;
  position: relative;
  margin-bottom:40px;
  display: inline-block;
}
.begin2020 p {
  margin:0;
  /* margin-bottom:40px; */
}
.begin2020 .mark {
  position: absolute;
  left:0;
  right:0;
  height:100%;
  background-color: #fff;
}
.ph {
  width:100%;
  height:100vh;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  left:0;
  top:0;
  bottom:0;
  display: flex;
}
.ph-inner {
  height:100vh;
  display: flex;
  position: relative;
  left:0;
}
.tips{
  position: absolute;
  top:0;
  left:0;
  right:0;
  display: none;
}
.noise{
  width:20px;
  height:200px;
  color: #b05330;
  font-size:20px;
  position: absolute;
  right:40px;
  top:40px;
}
.slideUp{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  width:20px;
  height:200px;
  margin-top:500px;
  font-size:38px;
  color: #b05330;
  z-index:1000;
  opacity: 1;
}
.slideUp img{
  width:100px;
  height:100px;
  position: absolute;
  left:-30px;
  top:700px;
  opacity: 0;
  animation:up 1.5s linear infinite;
  -webkit-animation:up 1.5s linear infinite;
}
@keyframes up{
  0% {
    top:500px;
    opacity: 1;
  }
  100% {
    top:220px;
    opacity: 0;
  }
}
.trees {
  float:left;
  width:100vw;
  height:100vh;
  position: relative;
  background-image: linear-gradient(to right,#595959,#9e9e9c);
  /* background: url(https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/trees.png) 0 0 no-repeat; */
}
.tree1{
  position: absolute;
  left:0;
  bottom:0;
  z-index:3;
}
.tree2{
  position: absolute;
  left:0;
  bottom:0;
  z-index:2;
}
.tree3{
  position: absolute;
  left:105px;
  bottom:0;
  z-index:3;
}
.tree4{
  position: absolute;
  left:1000px;
  bottom:0;
  z-index:0;
  height:100%;
}
.tree5{
  position: absolute;
  left:800px;
  bottom:0;
  z-index:0;
  height:100%;
}
.tree6{
  position: absolute;
  left:1500px;
  bottom:0;
  z-index:50;
  height:100%;
}
.tree-front {
  position: absolute;
  left:0;
  top:0;
  z-index:20;
}
.tree-back {
  position: absolute;
  left:0;
  top:0;
}
.trees img {
  display: block;
}
.Building {
  float:left;
  width:100vw;
  height:100vh;
  position: relative;
}
.Building img {
  height:100%;
  position: absolute;
  left:0px;
  top:0;
  z-index:10;
}
.Building .on{
  position: absolute;
  z-index:10;
  opacity: 0;
  z-index:15;
}

.mask1{
  position: fixed;
  top:0;
  width:100%;
  height:100%;
  background: #000;
  opacity: 0;
  z-index:100;
}
.mask1-text {
  color:#fff;
  font-size:40px;
  text-align: center;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

