.p10 {
  width:100%;
  height: 0;
  position: relative;
  opacity: 1;
}
.p10-scroll {
  width:100%;
  height: 100vh;
  transform: translateY(0);
  background:url(https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page10/bg.png) 0 0 no-repeat;
  position: relative;
  opacity: 1;
}
.p10-scroll .p10-inner {
  position: absolute;
  top:0;
}
.time-banner {
  width:100%;
  height:2000px;
  overflow: hidden;
  position: absolute;
  top:0;
  z-index:10;
  /* opacity: 0; */
  background:url(https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page10/time-banner-bg.png) 0 bottom no-repeat;
}
.time-banner img{
  width: 100%;
  transform: scale(44);
  transform-origin: 52% 822px;
  opacity: 1;
}
.clock{
  width:100%;
  height:3000px;
  /* background:url(https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page10/bg.png) 0 0 no-repeat; */
  position: fixed;
  top:0;
  left:0;
  opacity: 0;
  z-index:4;
}
.clock img{
  position: absolute;
  top:-200px;
  opacity: 1;
  transform: scale(1);
}

.playground{
	position: absolute;
	top: 6px;
	left: 50%;
	transform: translate(-50%, -50%) scale(1,1);
}
#mySprite {
   background: url('https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page10/clock.png') no-repeat;
   top:750px;
   width: 750px;
   height: 1920px;
   -webkit-animation: myAnimation 13.91s steps(1) infinite;
   -moz-animation: myAnimation 13.91s steps(1) infinite;
   -ms-animation: myAnimation 13.91s steps(1) infinite;
   -o-animation: myAnimation 13.91s steps(1) infinite;
   animation: myAnimation 13.91s steps(1) infinite;
}
.playground1{
	position: absolute;
	top: -20%;
	left: -30%;
	transform: translate(-50%, -50%) scale(1,1);
}
#mySprite1 {
   background-image: url('https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page10/clock.png');
   width: 750px;
   height: 1920px;
   -webkit-animation: myAnimation 15.91s steps(1) infinite;
   -moz-animation: myAnimation 15.91s steps(1) infinite;
   -ms-animation: myAnimation 15.91s steps(1) infinite;
   -o-animation: myAnimation 15.91s steps(1) infinite;
   animation: myAnimation 15.91s steps(1) infinite;
}
.playground2{
	position: absolute;
	top: -10%;
	right: -120%;
	transform: translate(-50%, -50%) scale(1,1);
}
#mySprite2 {
   background-image: url('https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page10/clock.png');
   width: 750px;
   height: 1920px;
   -webkit-animation: myAnimation 9.91s steps(1) infinite;
   -moz-animation: myAnimation 9.91s steps(1) infinite;
   -ms-animation: myAnimation 9.91s steps(1) infinite;
   -o-animation: myAnimation 9.91s steps(1) infinite;
   animation: myAnimation 9.91s steps(1) infinite;
}
.playground3{
	position: absolute;
	top: 68%;
	left: -30%;
	transform: translate(-50%, -50%) scale(1,1);
}
#mySprite3 {
   background-image: url('https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page10/clock.png');
   width: 750px;
   height: 1920px;
   -webkit-animation: myAnimation 15.91s steps(1) infinite;
   -moz-animation: myAnimation 15.91s steps(1) infinite;
   -ms-animation: myAnimation 15.91s steps(1) infinite;
   -o-animation: myAnimation 15.91s steps(1) infinite;
   animation: myAnimation 15.91s steps(1) infinite;
}
.playground4{
	position: absolute;
	top: 58%;
	right: -100%;
	transform: translate(-50%, -50%) scale(.9,.9);
}
#mySprite4 {
   background-image: url('https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page10/clock.png');
   width: 750px;
   height: 1920px;
   -webkit-animation: myAnimation 8.91s steps(1) infinite;
   -moz-animation: myAnimation 8.91s steps(1) infinite;
   -ms-animation: myAnimation 8.91s steps(1) infinite;
   -o-animation: myAnimation 8.91s steps(1) infinite;
   animation: myAnimation 8.91s steps(1) infinite;
}
@-webkit-keyframes myAnimation {
	0% { -webkit-background-position: 0px 0px; }
	10.00% { -webkit-background-position: -750px 0px; }
	20.00% { -webkit-background-position: -1500px 0px; }
	30.00% { -webkit-background-position: -2250px 0px; }
	40.00% { -webkit-background-position: -3000px 0px; }
	50.00% { -webkit-background-position: -3750px 0px; }
	60.00% { -webkit-background-position: -4500px 0px; }
	70.00% { -webkit-background-position: -5250px 0px; }
	80.00% { -webkit-background-position: -6000px 0px; }
	90.00% { -webkit-background-position: -6750px 0px; }
	100.00% { -webkit-background-position: -7500px 0px; }
}
@-moz-keyframes myAnimation {
	0% { -moz-background-position: 0px 0px; }
	10.00% { -moz-background-position: -750px 0px; }
	20.00% { -moz-background-position: -1500px 0px; }
	30.00% { -moz-background-position: -2250px 0px; }
	40.00% { -moz-background-position: -3000px 0px; }
	50.00% { -moz-background-position: -3750px 0px; }
	60.00% { -moz-background-position: -4500px 0px; }
	70.00% { -moz-background-position: -5250px 0px; }
	80.00% { -moz-background-position: -6000px 0px; }
	90.00% { -moz-background-position: -6750px 0px; }
	100.00% { -moz-background-position: -7500px 0px; }
}
@-ms-keyframes myAnimation {
	0% { -ms-background-position: 0px 0px; }
	10.00% { -ms-background-position: -750px 0px; }
	20.00% { -ms-background-position: -1500px 0px; }
	30.00% { -ms-background-position: -2250px 0px; }
	40.00% { -ms-background-position: -3000px 0px; }
	50.00% { -ms-background-position: -3750px 0px; }
	60.00% { -ms-background-position: -4500px 0px; }
	70.00% { -ms-background-position: -5250px 0px; }
	80.00% { -ms-background-position: -6000px 0px; }
	90.00% { -ms-background-position: -6750px 0px; }
	100.00% { -ms-background-position: -7500px 0px; }
}
@-o-keyframes myAnimation {
	0% { -o-background-position: 0px 0px; }
	10.00% { -o-background-position: -750px 0px; }
	20.00% { -o-background-position: -1500px 0px; }
	30.00% { -o-background-position: -2250px 0px; }
	40.00% { -o-background-position: -3000px 0px; }
	50.00% { -o-background-position: -3750px 0px; }
	60.00% { -o-background-position: -4500px 0px; }
	70.00% { -o-background-position: -5250px 0px; }
	80.00% { -o-background-position: -6000px 0px; }
	90.00% { -o-background-position: -6750px 0px; }
	100.00% { -o-background-position: -7500px 0px; }
}
@keyframes myAnimation {
	0% { background-position: 0px 0px; }
	10.00% { background-position: -750px 0px; }
	20.00% { background-position: -1500px 0px; }
	30.00% { background-position: -2250px 0px; }
	40.00% { background-position: -3000px 0px; }
	50.00% { background-position: -3750px 0px; }
	60.00% { background-position: -4500px 0px; }
	70.00% { background-position: -5250px 0px; }
	80.00% { background-position: -6000px 0px; }
	90.00% { background-position: -6750px 0px; }
	100.00% { background-position: -7500px 0px; }
}

.cloud{
  position: absolute;
  top:4240px;
  left:0;
}
.cloud img{
  display: block;
}
.p10-inner .cloud1{
  /* display: none; */
  position: absolute;
  top:500px;
  left:0;
  z-index: 10;
  opacity: 0;
  animation:bird1 2s linear  infinite;
  -webkit-animation:bird1 2s linear infinite;
  animation-direction:alternate;
  -webkit-animation-direction:alternate;
}
.p10-inner .cloud2{
  /* display: none; */
  position: absolute;
  top:500px;
  left:0;
  opacity: 1;
  z-index: 10;
  animation:bird2 2s linear infinite;
  -webkit-animation:bird2 2s linear infinite;
  animation-direction:alternate;
  -webkit-animation-direction:alternate;
}
@keyframes bird1{
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes bird2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.p10-inner .cloud3{
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  z-index:1
}
.mountain{
  width:100%;
  position: absolute;
  top:5400px;
  left:0px;
  right:0px;
}
.p10-inner .mountain1{
  position: absolute;
  top:80px;
  right:-750px;
  z-index: 1;
}
.p10-inner .mountain2{
  position: absolute;
  top:0px;
  left:-750px;
  z-index: 2;
}
 .p10-inner .mountain3{
  position: absolute;
  top:400px;
  right:-750px;
  z-index: 3;
}
.p10-inner .mountain4{
  position: absolute;
  top:550px;
  left:-750px;
  z-index: 4;
}
.mountain img{
  display: block;
}
.video{
  /* width:80%; */
  /* height:400px; */
  /* background: #fff; */
  position: absolute;
  bottom:350px;
  left:50%;
  z-index:100;
  transform: translateX(-50%);
  overflow: hidden;
  cursor: pointer;
}
.line{
  position: absolute;
  left:0;
  top:0;
}
.p10 .text {
  position: fixed;
  top:30%;
  left:50%;
  text-align: center;
  transform: translateX(-50%);
  z-index:10;
  opacity: 0;
}