.p3 {
  width:100%;
  height: 100vh;
  position: relative;
  /* overflow: hidden; */
  /* background:url(../h5imgs/page3/p3-bg.png) 0 0 no-repeat; */
}
.p3-scroll {
  width:100%;
  height: 100vh;
  transform: translateY(0);
  background:url(../h5imgs/page3/p3-bg1.png) 0 0 no-repeat;
}
.light {
  width:750px;
  height:1700px;
  position: absolute;
  left:0;
  top:0;
  background:none;
  /* opacity: 0; */
}
.light.step1 {
  background:url(../h5imgs/page3/light-1.png) 0 0 no-repeat;
}
.light.step2 {
  background:url(../h5imgs/page3/light-2.png) 0 0 no-repeat;
}
.light.step3 {
  background:url(../h5imgs/page3/light-3.png) 0 0 no-repeat;
}
.branch1 {
  position: absolute;
  top:618px;
}
.branch2 {
  position: absolute;
  top:614px;
}
.leaf-move {
  position: absolute;
  width:215px;
  height:118px;
  background:url(../h5imgs/page3/leaf1.png) no-repeat;
  background-size:100% auto !important;
  top: 400px;
  left: 267px;
  transform-origin: 0 50%;
  transform:rotate(0);
}
.leaf-8 {
  position: absolute;
  width:693px;
  height:749px;
  left:-1000px;
  background: url(../h5imgs/page3/leaf8.png) no-repeat;
}
.leaf-9 {
  position: absolute;
  width:702px;
  height:749px;
  right:-1000px;
  background: url(../h5imgs/page3/leaf9.png) no-repeat;
}