.p3 {
  width:100%;
  height: 100vh;
  position: relative;
  /* overflow: hidden; */
  /* background:url(https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page3/p3-bg.png) 0 0 no-repeat; */
}
.p3-scroll {
  width:100%;
  height: 100vh;
  transform: translateY(-100%);
  background:#ffedbf url(https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page3/p3-bg1.png) 0 0 no-repeat;
  opacity: 0;
  z-index:2;
}
.p3 .light {
  width:750px;
  height:1700px;
  position: absolute;
  left:0;
  top:0;
  background:none;
  /* opacity: 0; */
}
.p3 .light.step1 {
  background:url(https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page3/light-1.png) 0 0 no-repeat;
}
.p3 .light.step2 {
  background:url(https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page3/light-2.png) 0 0 no-repeat;
}
.p3 .light.step3 {
  background:url(https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page3/light-3.png) 0 0 no-repeat;
}
.p3 .branch1 {
  position: absolute;
  top:618px;
}
.p3 .branch2 {
  position: absolute;
  top:614px;
}
.p3 .leaf-move {
  position: absolute;
  width:215px;
  height:118px;
  background:url(https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page3/leaf1.png) no-repeat;
  background-size:100% auto !important;
  top: 400px;
  left: 267px;
  transform-origin: 0 50%;
  transform:rotate(0);
}
.p3 .leaf2 {
  width: 241px;
  height:125px;
  background: url(https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page3/leaf2.png) no-repeat;
}
.p3 .leaf3 {
  width: 220px;
  height: 180px;
  background: url(https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page3/leaf3.png) no-repeat;
}
.p3 .leaf4 {
  width: 193px;
  height: 240px;
  background: url(https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page3/leaf4.png) no-repeat;
}
.p3 .leaf5 {
  width: 246px;
  height: 340px;
  background: url(https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page3/leaf5.png) no-repeat;
}
.p3 .leaf6 {
  width: 305px;
  height: 229px;
  background: url(https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page3/leaf6.png) no-repeat;
}
.p3 .leaf7 {
  width: 470px;
  height: 385px;
  background: url(https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page3/leaf7.png) no-repeat;
}
.p3 .leaf-8 {
  position: absolute;
  width:693px;
  height:749px;
  left:-1000px;
  background: url(https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page3/leaf8.png) no-repeat;
}
.p3 .leaf-9 {
  position: absolute;
  width:702px;
  height:749px;
  right:-1000px;
  background: url(https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page3/leaf9.png) no-repeat;
}
