.p5 {
  width:100%;
  height: 0px;
  position: relative;
  background-color:#ffeec2;
}
.p5-scroll {
  width:100%;
  height: 100vh;
  transform: translateY(-100%);
  background-color:#ffeec2;
  position: relative;
  opacity: 0;
  background: url(https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page5/floor.png) 0 bottom no-repeat;
}
.p5 .liuyan .text{
  width:500px;
  position: absolute;
  font-size:32px;
  top:200px;
  left:50px;
  color:#4b0d00;
  z-index:10;
}
.p5 .lixiguo .text{ 

  position: absolute;
  font-size: 32px;
  bottom: 500px;
  left: 350px;
  z-index: 1;
}

.p5 .scenes {
  display: flex;
  width:200%;
  height:100%;
  transform:translateX(-50%)
}
.p5 .scenes .scene {
  width:100%;
  height:100vh;
  position: relative;
}
.p5 .liuyan {
  height:100%;
  overflow: hidden;
  transform-origin: 544px 378px;
  transform: scale(6);
}
.p5 .lamp {
  position: absolute;
  width:100%;
  top:0;
  z-index:1;
  transform: translateY(-100%);
}
.p5 .lamp .light {
  position: absolute;
  width:100%;
  height:auto;
  top:0;
  opacity: 0;
}
.p5 .stairs {
  position: absolute;
  right:150px;
  bottom:-160px;
}
.p5 .man {
  position: absolute;
  left:-460px;
  bottom:0px;
}
