.p6 {
  width:100%;
  height: 100vh;
  position: relative;
}
.p6-scroll {
  width:100%;
  height: 100vh;
  transform: translateY(0%);
  background:url(https://cdn.jsdelivr.net/gh/coffeecoke/2021H5@latest/h5imgs/page6/bg.png) 0 0 no-repeat;
  position: relative;
}
.p6 .line{
  transform: translateX(0);
}
.p6 .line img{
  /* padding-left:87px; */
}
.p6 .shan{
  width:100%;
  position: absolute;
  bottom:-1200px;
  left:0;
}
.p6 .shan img{
  display: block;
}
.p6 .shan1{
  position: absolute;
  bottom:600px;
  left:0px;
  z-index: 1;
}
.p6 .shan2{
  position: absolute;
  bottom:500px;
  right:0px;
  z-index: 2;
}
.p6 .shan3{
  position: absolute;
  bottom:250px;
  right:0px;
  z-index: 3;
}
.p6 .shan4{
  position: absolute;
  bottom:-100px;
  right:0px;
  z-index: 4;
}
.p6 .zhai{
  position: absolute;
  bottom:300px;
  left:-750px;
  z-index:10;
}
.p6 .text {
  position: absolute;
  right:30px;
  bottom:300px;
  color:#fff;
  font-size:32px;
  z-index:30;
}