.p6 {
  width:100%;
  height: 1px;
  position: relative;
}
.p6-scroll {
  width:100%;
  height: 100vh;
  transform: translateY(0);
  background-color: orange;
  position: relative;
  /* opacity: 0; */
}