.p8 {
  width:100%;
  height: 100vh;
  position: relative;
}
.p8-scroll {
  width:100%;
  height: 100vh;
  transform: translateY(0);
  background:url(../h5imgs/page8/bg.png) 0 0 no-repeat;
  position: relative;
}
.p8 .graph{
  position: relative;
  top:0;
  left:0;
  /* transform: translateY(0); */
  /* position: absolute; */
}
.p8 .graph img{
  display: block;
}
.p8 .graph1{
  position: absolute;
  right:-400px;
  top:100px;
  z-index:2;
}
.p8 .graph2{
  position: absolute;
  left:-200px;
  top:250px;
  z-index:2;
}
.p8 .graph3{
  position: absolute;
  right:-400px;
  top:350px;
  z-index:2;
}
.p8 .liang{
  position: absolute;
  top:0;
  left:0;
  z-index:1;
  opacity: 0;
}
.p8 .crowd{
  position: absolute;
  bottom:0;
  left:0;
}
.p8 .crowd1{
  position: absolute;
  left:-750px;
  bottom:0;
}
.p8 .crowd2{
  position: absolute;
  right:0px;
  bottom:0;
}